.doc-main-container {
  flex-grow: 1;
  max-width: calc(100% - var(--doc-sidebar-width));
}

.doc-container {
  display: flex;
}

.doc-article {
  padding: var(--basic-spacing);
  flex: 10;
  margin-top: var(--doc-margin-top);
}

.doc-toc-container {
  flex: 3;
  padding-left: var(--basic-spacing);
  padding-right: var(--basic-spacing);
}

.doc-toc {
  width: 100%;
  padding: var(--basic-gap);
  padding-right: 0;
  position: sticky;
  top: calc(var(--page-header-height) + 1rem + var(--doc-margin-top));
}

@media (width <= 768px) {
  /* 在小于 768px 的视口宽度下，中间列宽度为100% */
  .category-container {
    flex-direction: column;
  }

  .blog-container {
    flex: 0 0 100%;
  }
}
