.doc-main-container {
  flex-grow: 1;
  max-width: calc(100% - var(--doc-sidebar-width));
  margin-top: var(--doc-margin-top);
}

.doc-container {
  display: flex;
}

.doc-article {
  padding: var(--basic-spacing);
  width: 75%;
}

@media (width <= 768px) {
  /* 在小于 768px 的视口宽度下，中间列宽度为100% */
  .category-container {
    flex-direction: column;
  }

  .blog-container {
    flex: 0 0 100%;
  }
}
