.doc-toc-container {
  width: 25%;
  padding-left: var(--basic-spacing);
  padding-right: var(--basic-spacing);
}

.doc-toc {
  width: 100%;
  padding-right: 0;
  position: sticky;
  top: calc(var(--page-header-height) + 1rem + var(--doc-margin-top));
}
