.root-container {
  border: 1px solid var(--basic-border-color);
  border-radius: var(--border-radius-6);
}

.copy-wrap {
  background-color: var(--basic-background);
  padding: var(--padding-for-copy-header);
  border-bottom: 1px solid var(--basic-border-color);
  border-top-left-radius: var(--border-radius-6);
  border-top-right-radius: var(--border-radius-6);
  color: var(--color-font-for-copy-header);
}

.copy-btn {
  width: var(--width-icon-basic);
  height: var(--height-icon-basic);
  border-radius: var(--border-radius-6);
  font-size: var(--font-size-18);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--color-btn-hover-background);
  }
}
