@keyframes rocket-movement {
  100% {
    transform: translate(1200px, -600px);
  }
}

@keyframes spin-earth {
  100% {
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@keyframes move-astronaut {
  100% {
    transform: translate(-160px, -160px);
  }
}

@keyframes rotate-astronaut {
  100% {
    transform: rotate(-720deg);
  }
}

@keyframes glow-star {
  40% {
    -webkit-opacity: 0.3;
    opacity: 0.3;
  }

  90%,
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    transform: scale(1.2);
    border-radius: 999999px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.custom-navbar {
  padding-top: 15px;
}

.brand-logo {
  margin-left: 25px;
  margin-top: 5px;
  display: inline-block;
  width: 80px;
}

.btn-go-home {
  position: relative;
  z-index: 200;
  margin: 15px auto;
  width: 100px;
  padding: 10px 15px;
  border: 1px solid #ffcb39;
  border-radius: 100px;
  font-weight: 400;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 11px;
  transition: all 0.3s ease-in;
}

.btn-go-home:hover {
  background-color: #ffcb39;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 20px 20px rgb(0 0 0 / 10%);
}

.central-body {
  padding: 17% 5% 10%;
  text-align: center;
}

.objects img {
  z-index: 90;
  pointer-events: none;
}

.object-rocket {
  z-index: 95;
  position: absolute;
  transform: translateX(-50px);
  top: 75%;
  pointer-events: none;
  animation: rocket-movement 200s linear infinite both running;
}

.object-earth {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 90;
}

.object-moon {
  position: absolute;
  top: 12%;
  left: 25%;
}

.object-astronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.box-astronaut {
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}

.image-404 {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.stars {
  background: url('http://salehriaz.com/404Page/img/overlay_stars.svg');
  background-repeat: repeat;
  background-size: contain;
  background-position: left top;
}

.glowing-stars {
  .star {
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;

    &:nth-child(1) {
      top: 80%;
      left: 25%;
      animation: glow-star 2s infinite ease-in-out alternate 1s;
    }

    &:nth-child(2) {
      top: 20%;
      left: 40%;
      animation: glow-star 2s infinite ease-in-out alternate 3s;
    }

    &:nth-child(3) {
      top: 25%;
      left: 25%;
      animation: glow-star 2s infinite ease-in-out alternate 5s;
    }

    &:nth-child(4) {
      top: 75%;
      left: 80%;
      animation: glow-star 2s infinite ease-in-out alternate 7s;
    }

    &:nth-child(5) {
      top: 90%;
      left: 50%;
      animation: glow-star 2s infinite ease-in-out alternate 9s;
    }
  }
}

.not-found-container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: calc(100vh - var(--page-header-height));
}

@media only screen and (width <= 600px) {
  .navbar-links {
    display: none;
  }

  .custom-navbar {
    text-align: center;
  }

  .brand-logo img {
    width: 120px;
  }

  .box-astronaut {
    top: 70%;
  }

  .central-body {
    padding-top: 25%;
  }
}
