.home-content {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--page-header-height));
  background-color: linear-gradient(0deg, var(--banner-background-color) 0, #fff 100%);
}
