.home-content {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--page-header-height));
}

.home-content-text {
  width: 16ch;
  animation: typing 2s steps(16), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid orange;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
