/* stylelint-disable scss/at-rule-no-unknown */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: var(--basic-font-size);
  font-family: var(--basic-font-family);
  color: var(--basic-font-color);
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.flex-center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
